In [1]:
import pandas as pd
import numpy as np
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
ejemplo = pd.read_csv("ejemploRespuesta.csv")

In [2]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240000 entries, 0 to 239999
Data columns (total 23 columns):
id                            240000 non-null int64
titulo                        234613 non-null object
descripcion                   238381 non-null object
tipodepropiedad               239954 non-null object
direccion                     186928 non-null object
ciudad                        239628 non-null object
provincia                     239845 non-null object
antiguedad                    196445 non-null float64
habitaciones                  217529 non-null float64
garages                       202235 non-null float64
banos                         213779 non-null float64
metroscubiertos               222600 non-null float64
metrostotales                 188533 non-null float64
idzona                        211379 non-null float64
lat                           116512 non-null float64
lng                           116512 non-null float64
fecha                         240000 non-null object
gimnasio                      240000 non-null float64
usosmultiples                 240000 non-null float64
piscina                       240000 non-null float64
escuelascercanas              240000 non-null float64
centroscomercialescercanos    240000 non-null float64
precio                        240000 non-null float64
dtypes: float64(15), int64(1), object(7)
memory usage: 42.1+ MB

In [3]:
pd.set_option('display.max_columns', 29) #ver todas las columnas
pd.set_option('display.max_rows', 23) #como mucho ver 10 filas

In [4]:
### Train: es para entrenar el algoritmo
### Test: es para subir las predicciones

### El ejemplo de respuesta parece tener una fila como índice

In [5]:
ejemplo

         4941  4200756.25126322
0       51775      1.112322e+06
1      115253      1.377424e+06
2      299321      1.364169e+06
3      173570      1.284638e+06
4       30862      2.411320e+06
...       ...               ...
59994   75094      4.081461e+06
59995  171847      1.165343e+06
59996  138313      1.576250e+06
59997  271268      1.947392e+06
59998   72612      3.021054e+06

[59999 rows x 2 columns]

In [6]:
train.head()

,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,idzona,lat,lng,fecha,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio
0,254099,depto. tipo a-402,"depto. interior de 80.15m2, consta de sala com...",Apartamento,Avenida Division del Norte 2005,Benito Juárez,Distrito Federal,NaN,2.0,1.0,2.0,80.0,80.0,23533.0,NaN,NaN,2015-08-23 00:00:00,0.0,0.0,0.0,0.0,0.0,2273000.0
1,53461,condominio horizontal en venta,"<p>entre sonora y guerrero, atr&aacute;s del h...",Casa en condominio,AV. MEXICO,La Magdalena Contreras,Distrito Federal,10.0,3.0,2.0,2.0,268.0,180.0,24514.0,19.310205,-99.227655,2013-06-28 00:00:00,0.0,0.0,0.0,1.0,1.0,3600000.0
2,247984,casa en venta urbi 3 recamaras tonala,descripcion \nla mejor ubicacion residencial e...,Casa,Urbi Tonala,Tonalá,Jalisco,5.0,3.0,2.0,2.0,144.0,166.0,48551.0,NaN,NaN,2015-10-17 00:00:00,0.0,0.0,0.0,0.0,0.0,1200000.0
3,209067,casa sola en toluca zinacantepec con credito i...,casa en privada con caseta de vigilancia casas...,Casa,IGNACIO MANUEL ALTAMIRANO 128,Zinacantepec,Edo. de México,1.0,2.0,1.0,1.0,63.0,67.0,53666.0,19.301890,-99.688015,2012-03-09 00:00:00,0.0,0.0,0.0,1.0,1.0,650000.0
4,185997,paseos del sol,bonito departamento en excelentes condiciones ...,Apartamento,PASEOS DEL SOL,Zapopan,Jalisco,10.0,2.0,1.0,1.0,95.0,95.0,47835.0,NaN,NaN,2016-06-07 00:00:00,0.0,0.0,0.0,0.0,0.0,1150000.0

In [7]:
train.isnull().sum()

id                                 0
titulo                          5387
descripcion                     1619
tipodepropiedad                   46
direccion                      53072
ciudad                           372
provincia                        155
antiguedad                     43555
habitaciones                   22471
garages                        37765
banos                          26221
metroscubiertos                17400
metrostotales                  51467
idzona                         28621
lat                           123488
lng                           123488
fecha                              0
gimnasio                           0
usosmultiples                      0
piscina                            0
escuelascercanas                   0
centroscomercialescercanos         0
precio                             0
dtype: int64

In [8]:
#si hay una correlacion entre antiguedad y tamaño,rellenar antiguedad con eso

In [9]:
'''
reyenar habitanciones NaN con promedio de habitaciones: 3
'''

'\nreyenar habitanciones NaN con promedio de habitaciones: 3\n'

In [10]:
train[['habitaciones']] = train[['habitaciones']].fillna(value=3)

In [11]:
train['habitaciones'].isnull().sum()

0

In [12]:
'''
reyenar metros cuadrados totales: teniendo su precio y el valor de metro cuadrado total
    promedio segun tipo de propiedad y provinciam,calculo los metros cuadrados totales
    que deberia tener. pag 19
metros cuadrados cubiertos: idem arriba pero con el grafico de la pagina 20

la mejor opcion porque hay alta correlacion entre los metros y el precio

                    
antiguedad: segun el tipo de propiedad

importante porque hay una leve relacion entre el precio y la antiguedad
'''

'\nreyenar metros cuadrados totales: teniendo su precio y el valor de metro cuadrado total\n    promedio segun tipo de propiedad y provinciam,calculo los metros cuadrados totales\n    que deberia tener. pag 19\nmetros cuadrados cubiertos: idem arriba pero con el grafico de la pagina 20\n\nla mejor opcion porque hay alta correlacion entre los metros y el precio\n\n                    \nantiguedad: segun el tipo de propiedad\n\nimportante porque hay una leve relacion entre el precio y la antiguedad\n'

In [13]:
train['precioMetroCuadrado'] = train['precio']/train['metrostotales']
train.head()

,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,idzona,lat,lng,fecha,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio,precioMetroCuadrado
0,254099,depto. tipo a-402,"depto. interior de 80.15m2, consta de sala com...",Apartamento,Avenida Division del Norte 2005,Benito Juárez,Distrito Federal,NaN,2.0,1.0,2.0,80.0,80.0,23533.0,NaN,NaN,2015-08-23 00:00:00,0.0,0.0,0.0,0.0,0.0,2273000.0,28412.500000
1,53461,condominio horizontal en venta,"<p>entre sonora y guerrero, atr&aacute;s del h...",Casa en condominio,AV. MEXICO,La Magdalena Contreras,Distrito Federal,10.0,3.0,2.0,2.0,268.0,180.0,24514.0,19.310205,-99.227655,2013-06-28 00:00:00,0.0,0.0,0.0,1.0,1.0,3600000.0,20000.000000
2,247984,casa en venta urbi 3 recamaras tonala,descripcion \nla mejor ubicacion residencial e...,Casa,Urbi Tonala,Tonalá,Jalisco,5.0,3.0,2.0,2.0,144.0,166.0,48551.0,NaN,NaN,2015-10-17 00:00:00,0.0,0.0,0.0,0.0,0.0,1200000.0,7228.915663
3,209067,casa sola en toluca zinacantepec con credito i...,casa en privada con caseta de vigilancia casas...,Casa,IGNACIO MANUEL ALTAMIRANO 128,Zinacantepec,Edo. de México,1.0,2.0,1.0,1.0,63.0,67.0,53666.0,19.301890,-99.688015,2012-03-09 00:00:00,0.0,0.0,0.0,1.0,1.0,650000.0,9701.492537
4,185997,paseos del sol,bonito departamento en excelentes condiciones ...,Apartamento,PASEOS DEL SOL,Zapopan,Jalisco,10.0,2.0,1.0,1.0,95.0,95.0,47835.0,NaN,NaN,2016-06-07 00:00:00,0.0,0.0,0.0,0.0,0.0,1150000.0,12105.263158

In [14]:
metroCuadradoProv=train.groupby(['provincia','tipodepropiedad']).agg({'precioMetroCuadrado':'mean'}).reset_index()
metroCuadradoProv.head()

        provincia     tipodepropiedad  precioMetroCuadrado
0  Aguascalientes         Apartamento         37836.098842
1  Aguascalientes    Bodega comercial          6781.353567
2  Aguascalientes                Casa          7528.357284
3  Aguascalientes  Casa en condominio          9400.227862
4  Aguascalientes   Casa uso de suelo          8590.525276

In [15]:
metroCuadradoProv[(metroCuadradoProv['provincia']=='Distrito Federal') & (metroCuadradoProv['tipodepropiedad']=='Apartamento')].head()

            provincia tipodepropiedad  precioMetroCuadrado
120  Distrito Federal     Apartamento         26465.020734

In [16]:
train=train.drop(['precioMetroCuadrado'], axis=1)

In [17]:
train=train.merge(metroCuadradoProv,on=['provincia','tipodepropiedad'],how='inner')

In [18]:
train.head()

,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,idzona,lat,lng,fecha,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio,precioMetroCuadrado
0,254099,depto. tipo a-402,"depto. interior de 80.15m2, consta de sala com...",Apartamento,Avenida Division del Norte 2005,Benito Juárez,Distrito Federal,NaN,2.0,1.0,2.0,80.0,80.0,23533.0,NaN,NaN,2015-08-23 00:00:00,0.0,0.0,0.0,0.0,0.0,2273000.0,26465.020734
1,126147,departamento en venta taxqueña,"amplio departamento, estancia de sala y comedo...",Apartamento,Condominio Tlalpan 2B,Coyoacán,Distrito Federal,5.0,2.0,1.0,1.0,75.0,90.0,23650.0,19.300612,-99.148475,2014-03-18 00:00:00,0.0,0.0,0.0,0.0,1.0,1100000.0,26465.020734
2,73348,"oportunidad, departamento col del valle, 3 rec...",magnifico departamento con excelente distribuc...,Apartamento,Pazaje Santa Cruz,Benito Juárez,Distrito Federal,5.0,3.0,2.0,NaN,127.0,127.0,50003995.0,NaN,NaN,2016-10-30 00:00:00,0.0,0.0,0.0,1.0,1.0,4750000.0,26465.020734
3,116928,excelentes departamentos con exclente ubicación,"1 pb, 2 primer piso, 2 segundo piso. cada depa...",Apartamento,Jesús Carranza No. 55,Cuauhtémoc,Distrito Federal,20.0,2.0,0.0,1.0,68.0,68.0,23821.0,NaN,NaN,2015-03-27 00:00:00,0.0,0.0,0.0,0.0,0.0,680000.0,26465.020734
4,244353,NaN,"departamento nuevo, 98m2 ,interior, 2 recamara...",Apartamento,ILLINOIS 31 602,Benito Juárez,Distrito Federal,0.0,2.0,2.0,2.0,98.0,NaN,23569.0,19.386026,-99.179459,2012-10-16 00:00:00,0.0,0.0,0.0,0.0,0.0,2100000.0,26465.020734

In [19]:
train['metrostotales'] = train['metrostotales'].fillna(train['precio']/train['precioMetroCuadrado'])
train.head()

,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,idzona,lat,lng,fecha,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio,precioMetroCuadrado
0,254099,depto. tipo a-402,"depto. interior de 80.15m2, consta de sala com...",Apartamento,Avenida Division del Norte 2005,Benito Juárez,Distrito Federal,NaN,2.0,1.0,2.0,80.0,80.000000,23533.0,NaN,NaN,2015-08-23 00:00:00,0.0,0.0,0.0,0.0,0.0,2273000.0,26465.020734
1,126147,departamento en venta taxqueña,"amplio departamento, estancia de sala y comedo...",Apartamento,Condominio Tlalpan 2B,Coyoacán,Distrito Federal,5.0,2.0,1.0,1.0,75.0,90.000000,23650.0,19.300612,-99.148475,2014-03-18 00:00:00,0.0,0.0,0.0,0.0,1.0,1100000.0,26465.020734
2,73348,"oportunidad, departamento col del valle, 3 rec...",magnifico departamento con excelente distribuc...,Apartamento,Pazaje Santa Cruz,Benito Juárez,Distrito Federal,5.0,3.0,2.0,NaN,127.0,127.000000,50003995.0,NaN,NaN,2016-10-30 00:00:00,0.0,0.0,0.0,1.0,1.0,4750000.0,26465.020734
3,116928,excelentes departamentos con exclente ubicación,"1 pb, 2 primer piso, 2 segundo piso. cada depa...",Apartamento,Jesús Carranza No. 55,Cuauhtémoc,Distrito Federal,20.0,2.0,0.0,1.0,68.0,68.000000,23821.0,NaN,NaN,2015-03-27 00:00:00,0.0,0.0,0.0,0.0,0.0,680000.0,26465.020734
4,244353,NaN,"departamento nuevo, 98m2 ,interior, 2 recamara...",Apartamento,ILLINOIS 31 602,Benito Juárez,Distrito Federal,0.0,2.0,2.0,2.0,98.0,79.350023,23569.0,19.386026,-99.179459,2012-10-16 00:00:00,0.0,0.0,0.0,0.0,0.0,2100000.0,26465.020734

In [20]:
train.isnull().sum().head(23)

id                                 0
titulo                          5387
descripcion                     1593
tipodepropiedad                    0
direccion                      52942
ciudad                           201
provincia                          0
antiguedad                     43417
habitaciones                       0
garages                        37663
banos                          26117
metroscubiertos                17360
metrostotales                    227
idzona                         28426
lat                           123341
lng                           123341
fecha                              0
gimnasio                           0
usosmultiples                      0
piscina                            0
escuelascercanas                   0
centroscomercialescercanos         0
precio                             0
dtype: int64

In [21]:
'''

metros cuadrados cubiertos: idem arriba pero con el grafico de la pagina 20

la mejor opcion porque hay alta correlacion entre los metros y el precio

                    
antiguedad: segun el tipo de propiedad

importante porque hay una leve relacion entre el precio y la antiguedad

'''

'\n\nmetros cuadrados cubiertos: idem arriba pero con el grafico de la pagina 20\n\nla mejor opcion porque hay alta correlacion entre los metros y el precio\n\n                    \nantiguedad: segun el tipo de propiedad\n\nimportante porque hay una leve relacion entre el precio y la antiguedad\n\n'

In [22]:
train['precioMetroCubierto'] = train['precio']/train['metroscubiertos']

In [23]:
metroCuadradoProv=train.groupby(['provincia','tipodepropiedad']).agg({'precioMetroCubierto':'mean'}).reset_index()
metroCuadradoProv.head()

        provincia     tipodepropiedad  precioMetroCubierto
0  Aguascalientes         Apartamento         13942.322284
1  Aguascalientes    Bodega comercial         10220.760861
2  Aguascalientes                Casa          7726.404665
3  Aguascalientes  Casa en condominio          8912.620457
4  Aguascalientes   Casa uso de suelo          8186.582428

In [24]:
train=train.drop(['precioMetroCubierto'], axis=1)

In [25]:
train=train.merge(metroCuadradoProv,on=['provincia','tipodepropiedad'],how='inner')

In [26]:
train['metroscubiertos'] = train['metroscubiertos'].fillna(train['precio']/train['precioMetroCubierto'])

In [27]:
train.isnull().sum().head(23)

id                                 0
titulo                          5387
descripcion                     1593
tipodepropiedad                    0
direccion                      52942
ciudad                           201
provincia                          0
antiguedad                     43417
habitaciones                       0
garages                        37663
banos                          26117
metroscubiertos                   13
metrostotales                    227
idzona                         28426
lat                           123341
lng                           123341
fecha                              0
gimnasio                           0
usosmultiples                      0
piscina                            0
escuelascercanas                   0
centroscomercialescercanos         0
precio                             0
dtype: int64

In [28]:
'''
                    
antiguedad: segun el tipo de propiedad

importa

'''

'\n                    \nantiguedad: segun el tipo de propiedad\n\nimporta\n\n'